<h4><%= t :add_new_wine %><h4>

<%= form_for @wine do |w| %>
  <p>
    <%= w.label :name %>
    <%= w.text_field :name %>
  </p>
  <p>
    <%= w.label :description %>
    <%= w.text_area :description %>
  </p>
  <%= w.fields_for :colors do |c| %>
    <% color_array = Color.all.map { |cl| [cl.name, cl.id] } %>
    <%= options_for_select(color_array) %>
  <% end %>

  
  <span class="btn btn_submit">
    <%= w.submit %>
  <span>
<% end %>
