<div class="portfolio-resume-scrolling-container row">
  <div class="columns small-12 medium-5 portfolio-resume-overview">
    <div class="portfolio-resume-overview-content">
      <h3 class="portfolio-resume-name"><%= @wine.name %></h3>
      <p><%= @wine.description %></p>
    </div>
  </div>
  <div class="columns small-12 medium-7 portfolio-resume-scrolling">
    <h3><%= @wine.country.name %></h3>
    <ul class="portfolio-resume-side-list">
     <li><span>Domaine: </span><%= @wine.domain.name %></li>
     <li><span>Couleur: </span><%= @wine.color.name %></li>
     <li><span>Année: </span><%= @wine.year.year %></li>
    </ul>
  </div>
</div>

