<footer class="footer marketing-site-footer">
  <div class="row medium-unstack">
      <div class="columns medium-6 large-4">
        <h3><%= t('Who_Am_I') %> </h3>
        <p>
          <%= t('IT super girl, I am a front-end web developer, the founder of a smart clothes project and responsable sponsoring for BARBÃR GIRLS volley club in Brussels.')%>
        </p>
      </div>
      <div class="columns medium-6 large-4">
      <h3><%= t('information_about_me')%></h3>
        <p>
          <li>Lorem ipsum Mollitia, 3090 Overijse</li>
          <li>jacobcindy@live.be</li>
          <li>0495 92 54 10 </li>
        </p>
      </div>
      <div class="columns medium-6 large-4">
        <h3>Follow me</h3>
        <ul>
          <li><i class="fab fa-twitter"></i><%= link_to  'Twitter', 'https://twitter.com/CindyJacobcindy?lang=en',{ :target=> "blank" } %></li>
          <li><i class="fab fa-github"></i><%= link_to 'Github', 'https://github.com/cijacob',{ :target=> "blank" } %></li>
          <li><i class="fab fa-linkedin-in"></i><%= link_to 'Linkedin', 'https://www.linkedin.com/in/cindy-jacob-732250a5/',{ :target=> "blank" } %></li>
      </div>
  </div>
</footer>
