<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to t('wine_cave'), root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><%= link_to t('login'), root_path %></li>
      <li class="active"><%= link_to t('signin'), new_user_path %></li>
      <li class="has-dropdown">
        <a href="#">Language</a>
        <ul class="dropdown">
          <li class="active"><%= link_to t('French'), locale: "fr" %></li>
          <li><%= link_to t('Nederlands'), locale: "nl" %></li>
          <li><%= link_to t('English'), locale: "en" %></li>
        </ul>
      </li>
    </ul>
    <ul class="left">
    <li>
      <%= link_to t("Choose_by_color"), colors_path %>
    </li>
    <li>
      <%= link_to t('Choose_by_year'), years_path %>
    </li>
    <li>
      <%= link_to t('all_wine'), wines_path %>
    </li>
    </ul>
  </section>
</nav>
